*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: #222;
  color: black;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}

.cards {
  font-size: 2rem;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); */
}

.card {
  margin: 0 1rem 0 1rem;
  width: 40rem;
  height: 20rem;
  text-align: center;
  transition: all .5s ease-in-out;
}

.one {
  background: orange;
  grid-column: 1;
  grid-row: 1;
}

.two {
  background: olivedrab;
  grid-column: 2;
  grid-row: 1;
}

.three {
  background: purple;
  grid-column: 3;
  grid-row: 1;
}

.four {
  background: powderblue;
  grid-column: 4;
  grid-row: 1;
}

.five {
  background: yellowgreen;
  grid-column: 1;
  grid-row: 2;
}

.six {
  background: violet;
  grid-column: 2;
  grid-row: 2;
}

.seven {
  background: brown;
  grid-column: 3;
  grid-row: 2;
}

.eight {
  background: burlywood;
  grid-column: 4;
  grid-row: 2;
}

.nine {
  background: azure;
  grid-column: 1;
  grid-row: 3;
}

.ten {
  background: aqua;
  grid-column: 2;
  grid-row: 3;
}

.eleven {
  background: blanchedalmond;
  grid-column: 3;
  grid-row: 3;
}

.twelve {
  background: blueviolet;
  grid-column: 4;
  grid-row: 3;
}

.thirteen {
  background: peru;
  grid-column: 1;
  grid-row: 4;
}

.fourteen {
  background: palegreen;
  grid-column: 2;
  grid-row: 4;
}

.fifteen {
  background: plum;
  grid-column: 3;
  grid-row: 4;
}

.sixteen {
  background: mediumseagreen;
  grid-column: 4;
  grid-row: 4;
}

.back {
  background: rgb(27, 17, 68);
  color: white;
  transition: all .5s ease-in-out;
}