.turtles {
  margin: 5px;
  background-color: rgb(144, 144, 117);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
  width: 15rem;
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}